{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
</head>
<body>
    <div class="loggedin">
        <p style="text-align: center;">Hej og velkommen til {{ username }}! <br>  Vi har udviklet et innovativt armbånd til ældrpleje. 
          <br>CareBand er et armbånd der måler pulsen og giver et alarm hvis der bliver detektet en unormal puls.
          <br>CareBand detekterer også fald på ejeren, og vibrerer hvis der ikke er blevet dyrket nok motion. 
          <br> Under "graph" ses der en visualisering af vores gyrometer, pulsmåler og batteriprocent på modulet. </p>
    </div>
</body>


{% endblock %}